body {
  font-family: sans-serif;
  background-color: #f9f9f9;
  font-size: 16px;
  color: #0B0C0C;
}
h1 {
  font-size: 2.5rem;
  font-size: clamp(2.5rem, 3vw + 1.25rem, 3.125rem);
  line-height: 1.12;
}
h2 {
  font-size: 2rem;
  font-size: clamp(2rem, 2vw + 1.25rem, 2.5rem);
  line-height: 1.2;
}
h3 {
  font-size: 1.563rem;
  font-size: clamp(1.563rem, 1vw + 1.25rem, 2rem);
  line-height: 1.25;
}
h4 {
  font-size: 1.25rem;
  font-size: clamp(1.25rem, 0.5vw + 1.25rem, 1.563rem);
  line-height: 1.28;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}
p.subheading {
  font-size: 1rem;
  line-height: 1.5;
}
p.overline {
  font-size: 1.25rem;
  line-height: 1.6;
}
@media all and (min-width: 70rem ) {
  p {
    font-size: 1.25rem;
  }
  p.subheading {
    font-size: 1.25rem;
    line-height: 1.6;
    color: #505A5F;
  }
  p.overline {
    font-size: 1.563rem;
    line-height: 1.6;
    color: #505A5F
  }
}
