---
layout: base.njk
title: Fluid type demo
---

<h1>Heading 1 — Heading XL</h1>
<p class="subheading">Subheading. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed esse delectus quod neque architecto nobis illo laboriosam omnis dolores quibusdam.</p>
<h2>Heading 2 - Heading L</h2>
<p>Body — Primary. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia numquam harum cum odio maiores dignissimos beatae facere labore eos accusamus nesciunt praesentium, unde fugit blanditiis minima, alias qui repudiandae impedit. Error, veritatis? Consequatur optio veniam a fuga quos expedita? Odio tenetur nihil id quisquam vitae soluta eveniet, harum sunt dolorum, corrupti fugiat officiis.</p>
<h3>Heading 3 - Heading M</h3>
<p>Body — Primary. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia numquam harum cum odio maiores dignissimos beatae facere labore eos accusamus nesciunt praesentium, unde fugit blanditiis minima, alias qui repudiandae impedit. Error, veritatis? Consequatur optio veniam a fuga quos expedita? Odio tenetur nihil id quisquam vitae soluta eveniet, harum sunt dolorum, corrupti fugiat officiis.</p>
<h4>Heading 4 - Heading S</h4>
<p>Body —&nbsp;Primary. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia numquam harum cum odio maiores dignissimos beatae facere labore eos accusamus nesciunt praesentium, unde fugit blanditiis minima, alias qui repudiandae impedit. Error, veritatis? Consequatur optio veniam a fuga quos expedita? Odio tenetur nihil id quisquam vitae soluta eveniet, harum sunt dolorum, corrupti fugiat officiis.</p>